.plupload_button{-webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em; display: -moz-inline-box;display: inline-block;font-size: 12px;text-decoration: none;color: #42454a;border: 1px solid #ddd;padding: 8px 10px 8px 30px;margin-right: 4px;background: #f3f3f3 url('images/buttons.png') no-repeat 0 center;outline: 0;color: #555;}
.plupload_button:link,.plupload_button:visited{color: #555;}
.plupload_button:hover{cursor: pointer;color: #000;text-decoration: none;border: 1px solid #A5A5A5;}
.plupload_disabled,a.plupload_disabled:hover{color: #737373;border-color: #ddd;background: #ededed url('images/buttons-disabled.png') no-repeat 0 center;cursor: default;}
.plupload_add{background-position: -181px center;}
.plupload_wrapper{padding: 0;margin: 0;background: #fff;border:none;}
.plupload_container{padding: 0;margin: 0; }
.plupload_container input{border: 1px solid #f00;}
.plupload_filelist_header{ background:url(images/xubox_title0.png) repeat-x 0 0}
.plupload_filelist{margin: 0;padding: 0;list-style: none;}
.plupload_scroll .plupload_filelist{height:auto;background: none;overflow-y: auto;font-size: 12px;padding: 2px 0px;}
.plupload_filelist li{background: none;border:1px solid #E7E7E7; background:#fff;padding:6px;color: #999; margin:2px 0;}
.plupload_filelist_footer{background: none;color: #42454A;padding: 5px 0;vertical-align: middle;font-weight: normal;}
.plupload_file_name{float: left;overflow: hidden;color: #444;padding:0 0;}
.plupload_file_status{color: #199024;}
.plupload_file_status span{color: #000;}
.plupload_file_size,.plupload_file_status,.plupload_progress{float: right;width: 80px;}
.plupload_file_size,.plupload_file_status,.plupload_file_action{text-align: right;}
.plupload_filelist .plupload_file_name{width:300px}
.plupload_file_action{float: right;width: 16px;height: 16px;margin-left: 15px;}
.plupload_file_action *{display: none;width: 16px;height: 16px;}
li.plupload_uploading{background: #FFEDED}
li.plupload_done{color: #aaa}
li.plupload_delete a{background: url(images/delete.gif) no-repeat left center;}
li.plupload_failed a{background: url(images/error.gif) no-repeat left center;cursor: default;}
li.plupload_done a{background: url(images/done.gif) no-repeat left center;cursor: default;}
.plupload_progress,.plupload_upload_status{display: none;line-height:24px;color: #d00;}
.plupload_progress_container{margin-top: 3px;border: 1px solid #CCC;background: #FFF;padding: 1px;}
.plupload_progress_bar{width: 0px;height: 12px;background: url(images/progressbar.gif) left center;}
.plupload_scroll .plupload_filelist_header .plupload_file_action{margin-right: 0px;}
.plupload_scroll .plupload_filelist_footer .plupload_file_action{margin-right: 0px;}
.plupload_clear,.plupload_clearer{clear: both;}
.plupload_clearer,.plupload_progress_bar{display: block;font-size: 0;line-height: 0;}
li.plupload_droptext{background: transparent;text-align: center;vertical-align: middle;border: 0;line-height: 165px;font-size: 12px;}